	---
	import Image from 'astro/components/Image.astro';
	import Layout from '../layouts/Layout.astro';
	import Header from '../components/header.astro';
	import Footer from '../components/footer.astro';
	import Landing from '../components/landing.astro'
	import Promo from '../components/promo.astro';
	import Muestras from '../components/muestras.astro';
	import Voces from '../components/voces.astro';
	import Reviews from '../components/reviews.astro';
	import Faqs from '../components/faqs.astro';
	import Contacto from '../components/contact.astro'
	---

	<Layout title="Welcome to Astro.">
		<Header/>
		<main>
			<Landing/>
			<Promo/>
			<Muestras/>
			<Voces/>
			<Reviews/>
			<Faqs/>
			<Contacto/>
		</main>
		<Footer/>
	</Layout>

