---

---

<div class=" flex flex-col items-center gap-y-6 py-4 bg-adicional1">
    <h1 class="text-3xl font-bold font-gotham">Contacto</h1>
    <p class="font-gotham">Cuéntanos todo lo que necesites y te contestaremos lo antes posible :)</p>
    <p class="font-gotham">También puedes escribirnos a info@hollyvooz.com</p>
    <div class="bg-white flex flex-col items-start gap-y-9 py-8">
        <div class="bg-white flex flex-row items-start gap-x-6 p-4">
            <input type="text" class="border px-2" placeholder="Nombre y apellidos">
            <input type="text" class="border px-2" placeholder="Email">
        </div>
        <textarea name="" id="" class="border w-96 h-40 mx-4 px-2" placeholder="Duda a escribir"></textarea>
        <input type="button" value="Enviar" class="bg-[#363940] text-white border rounded-3xl w-40 mx-4">
    </div>
   
</div>