---

---

<div class="bg-white flex flex-col items-center gap-y-9 py-8">
    <h1 class="text-3xl font-bold">Contacto</h1>
    <p>Cuéntanos todo lo que necesites y te contestaremos lo antes posible :)</p>
    <p>También puedes escribirnos a info@hollyvooz.com</p>
    <div class="bg-white flex flex-col items-start gap-y-9 py-8">
        <div class="bg-white flex flex-row items-start gap-x-6 py-8">
            <input type="text" class="border" placeholder="Nombre y apellidos">
        <input type="text" class="border" placeholder="Email">
        </div>
        <textarea name="" id="" class="border w-96" placeholder="Duda a escribir"></textarea>
        <input type="button" value="Enviar" class="bg-[#363940] text-white border rounded-3xl w-40">
    </div>
   
</div>