---

---

<header class="py-8 px-4 mx-auto w-full lg:py16 lg:px16 bg-gray-200">
    <div class="flex flex-row justify-between w-12/12">
        <a href="#" class=""><img src="" alt=""></a>
        <div class="justify-around space-x-16">
            <a href="#" class="text-1xl tblack">CÓMO FUNCIONAMOS</a>
            <a href="#" class="text-1xl text-black">SERVICIOS</a>
            <a href="#" class="text-1xl text-black">CONTACTO</a>
        </div>
        <button class="border border-black rounded"><a href="#" class="text-base p-5 py-5 text-black">Estudio virtual</a></button>
    </div>
</header>
