---

---

<header class="py-8 px-4 mx-auto w-full lg:py16 lg:px16 bg-principal">
    <div class="flex flex-row justify-between w-12/12">
        <a href="#" class=""><img src="" alt=""></a>
        <div class="justify-around space-x-16">
            <a href="#" class="text-1xl text-adicional2 font-gotham">CÓMO FUNCIONAMOS</a>
            <a href="#" class="text-1xl text-adicional2 font-gotham">SERVICIOS</a>
            <a href="#" class="text-1xl text-adicional2 font-gotham">CONTACTO</a>
        </div>
        <button class="border border-black text-adicional2 rounded"><a href="#" class="text-base p-5 py-5 text-black font-gotham">Estudio virtual</a></button>
    </div>
</header>
